/* nav */
*{
    box-sizing: border-box;
}




 /* not found */
 .not-found{
    background-image: url(../assets/image/bg-404.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;

 }

 .not-found h1{
    font-size: 180px;
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 150px;
    margin-bottom: 0;
 }

 .not-found p{
    color: white;
    text-align: center;
    font-size: 20px;

 }
 /*End not found */

 /* find status */
.findstatus{
    position: absolute;
    top: 80px;
    left: 0;
}
 /*End find status */
